.d-none {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

body#app {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #c52032;

  font-family: Arial, Helvetica, sans-serif;
}

main.header {
  background: #c52032 url('../img/TopWord.png') no-repeat top left;
}

.countdown {
  width: 100%;
  height: 100%;
  /* background-color: rgb(121, 114, 100); */
}

main .container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  /* height: 600px; */
  margin: 0 auto;
  /* background-color: #eee; */
}

.pieWrapper {
  align-self: center;
  margin-top: 230px;
  padding: 0;
  position: relative;
  /* width: 50%; */
}

.pieWrapper .string {
  position: absolute;
  top: -230px;
  left: 62px;
  z-index: 1000;
}

.pieWrapper .candyCane {
  position: absolute;
  top: -40px;
  right: -0px;
  z-index: 1000;
}

.pie {
  position: relative;
  margin: 1em auto; /*  16px */
  padding: 0;
  width: 23em; /* 16px * 32 = 512px */
  height: 23em;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: red; */
  background: rgb(255, 209, 91);
  background: linear-gradient(
    90deg,
    rgba(255, 209, 91, 1) 0%,
    rgba(255, 190, 91, 1) 40%,
    rgba(255, 233, 156, 1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* 
.centerDot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: yellow;
} */

.textBox {
  /* overflow: hidden; */
  position: absolute;
  top: 7%;
  left: calc(50% - 40px);
  width: 80px;
  height: 43%;
  transform-origin: 50% 100%;
  text-align: center;
  z-index: 100;
  /* background-color: #fff; */
}

.slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  /* width: 50%;
  height: 50%; */
  transform-origin: 0% 100%;
}

.selected {
  background-color: #fff !important;
}
/* 
.slice:nth-child(odd) {
  background-color: #ffd15b;
  border: 1px solid #ffd15b;
}

.slice:nth-child(even) {
  background-color: #ffe99c;
  border: 1px solid #ffe99c;
} */

/* .slice:first-child {
  background-color: #ffbe5b;
  border: 1px solid #ffbe5b;
} */

/* .slice > div {
  position: absolute;
  left: calc(30% - 30px);
  top: 50%;
  background-color: #fff;
  transform: rotate(0);
}
 */

h1.heading {
  margin-top: 30px;
  color: #fff;
  align-self: center;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.draw {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}

.draw small {
  margin-top: 2em;
  color: #fff;
  align-self: center;
  letter-spacing: 1.4em;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}
.draw button {
  margin-top: 0.3em;
  width: 14em;
  height: 1.7em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.1em;
  outline: none;
}

.selectorWrapper {
  padding-top: 20px;
  /* margin: 20px 0 50px 0; */
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  align-items: center;
  /* border: 1px solid #fff;; */
  max-width: 80%;
}

.selectorWrapper img {
  margin: 0 30px;
}

.selector,
.selectorGift {
  /* margin: 0 60px; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
}

.selectorWrapper .selectorHeading,
.selectorWrapper .selectorName {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  /* background-color: rgba(255,255,255,.3); */
}

.selectorWrapper .selectorHeading {
  font-size: 1.3em;
  letter-spacing: 0.7em;
  color: #ecc1ae;
  width: 100%;
}

.selectorWrapper .selectorName {
  margin-top: 10px;
  font-size: 3em;
  letter-spacing: 20px;
  color: #fff;
  /* width: 100%; */
  padding: 0;
}

footer {
  padding: 0;
  margin: 0;
  background-color: #ffeee4;
  height: 500px;

  /* background: #c52032 url('../img/Winner.png') no-repeat left; */
  /* height: 100%; */
  background-color: #c52032;
  background-image: url('../img/Winner.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  border-bottom: 1px solid #ffeee4;
}

.giftBox {
  margin-top: 100px;
  max-width: 100%;
  height: auto;
}

footer .container {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: #ffeee4;
}

footer .container .winners {
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  .pie {
    width: 20em;
    height: 20em;
  }
}
