@keyframes rocket_fly {
  0% {
    right: 35%;
    bottom: 0%;
    transform: rotate(0deg) scale(0.5);
  }

  50% {
    transform: rotate(0deg) scale(0.5);
    right: 35%;
    bottom: 10%;
  }

  54% {
    transform: rotate(2deg) scale(0.48);
    right: 35%;
    bottom: 11%;
  }
  58% {
    transform: rotate(4deg) scale(0.46);
    right: 35%;
    bottom: 13%;
  }
  /* 
  54% {
    transform: rotate(8deg) scale(0.3);
    right: 17%;
    top: 18%;
  }

  69% {
    transform: rotate(16deg) scale(0.3);
    right: 14%;
    top: 17%;
  }

  90% {
    right: 10%;
    top: 10%;
    transform: rotate(35deg) scale(0.1);
  } */

  100% {
    right: 0%;
    bottom: 70%;
    transform: rotate(50deg) scale(0);
  }
}
