.conainer {
  position: relative;
  background-color: #ccc;
  max-width: 900px;
  padding: 50px;
}
.fa-location-arrow {
  position: absolute;
  top: 35px;
  right: 180px;
  transform: rotate(170deg);
}
.pie {
  position: relative;
  margin: 1em auto;
  padding: 0;
  width: 32em;
  height: 32em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-color: #ccc;
}

.slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%; 
}



/* 

*/

/* 12個 */
/* 
.slice-one {
  transform: rotate(30deg) skewY(-60deg);
  background-color: cadetblue;
}
.slice-two {
  transform: rotate(0deg) skewY(-60deg);
  background-color: bisque;
}
.slice-three {
  transform: rotate(-30deg) skewY(-60deg);
  background-color: cornflowerblue;
}
.slice-four {
  transform: rotate(-60deg) skewY(-60deg);
  background-color: darkgoldenrod;
}
.slice-five {
  transform: rotate(-90deg) skewY(-60deg);
  background-color: darkkhaki;
}
.slice-six {
  transform: rotate(-120deg) skewY(-60deg);
  background-color: grey;
}
.slice-seven {
  transform: rotate(-150deg) skewY(-60deg);
  background-color: blueviolet;
}
.slice-eight {
  transform: rotate(-180deg) skewY(-60deg);
  background-color: darkmagenta;
}
.slice-nine {
  transform: rotate(-210deg) skewY(-60deg);
  background-color: forestgreen;
}
.slice-ten {
  transform: rotate(-240deg) skewY(-60deg);
  background-color: greenyellow;
}
.slice-eleven {
  transform: rotate(-270deg) skewY(-60deg);
  background-color: gold;
}
.slice-twelve {
  transform: rotate(-300deg) skewY(-60deg);
  background-color: blue;
} */

/* 
  skew -30% :: rotate -60% :: 6個
*/

/* .slice-one {
  transform: rotate(0deg) skewY(-30deg);
  background-color: cadetblue;
} */

/* 要18個 -> 360/18=>20度 */
/* rotate -20度 */
/* .slice-one {
  transform: rotate(0deg) skewY(-70deg);
  background-color: cadetblue;
}
.slice-two {
  transform: rotate(-20deg) skewY(-70deg);
  background-color: red;
} */


/* 原本是 90度, skew -60 -> 30度 -> 12個 */
/* .slice-one {
  transform: rotate(30deg) skewY(-60deg);
  background-color: cadetblue;
} */

/* 6個 x 60度 = 360度 */
/* 原本是 90度, skew -30 -> 60度 */
/* .slice-one {
  transform: rotate(30deg) skewY(-30deg);
  background-color: cadetblue;
}
.slice-two {
  transform: rotate(-30deg) skewY(-30deg);
  background-color: bisque;
}
.slice-three {
  transform: rotate(-90deg) skewY(-30deg);
  background-color: cornflowerblue;
}
.slice-four {
  transform: rotate(-150deg) skewY(-30deg);
  background-color: darkgoldenrod;
}
.slice-five {
  transform: rotate(-210deg) skewY(-30deg);
  background-color: darkkhaki;
}
.slice-six {
  transform: rotate(-270deg) skewY(-30deg);
  background-color: grey;
} */
